
{% if product.metafields.custom.bundle_items %}
    {% assign bundle_in_stock = true %}

    {% assign has_discount = false %}
    {% assign discount_percentage = 0 %}
    {% for tag in product.tags %}
        {% if tag contains "discount:" %}
            {% assign discount_percentage = tag | split: ':' | last | plus: 0 %}
            {% assign discount_price = product.price | times: discount_percentage | divided_by: 100 %}
            {% assign has_discount = true %}
        {% endif %}
    {% endfor %}


    {% if show_bundle_items %}
        <div
            x-title="Bundle builder"
            x-data="{
                bundlePrices: [],
                bundleItems: [],
                discount_price: {{ discount_price |  default: 0 }},
                original_price: {{ product.price }},
                fixed_bundle_discount: {{ fixed_bundle_discount | default: 0 | times: 100 }}
            }"
            @bundle-item-changed.window="bundlePrices[$event.detail.index] = $event.detail.price;"
            class="bundles-wrapper flex flex-col gap-2 divide-y divide-gray-400 my-3">
            {% for item in product.metafields.custom.bundle_items.value %}
                
                {% if item.available == false %}
                    {% assign bundle_in_stock = false %}
                {% endif %}
                
                {% assign categoryTitle = item.type %}
                {% if item.metafields.custom.product_group.value.title %}
                    {% assign categoryTitle = item.metafields.custom.product_group.value.title  %}
                {% endif %}

                {% capture itemData %}
                    {
                        title: {{ item.title | json }},
                        id: {{ item.id }},
                        variant_id: {{ item.first_available_variant.id }},
                        price: {{ item.first_available_variant.price }},
                        category: {{ categoryTitle |  handleize | json }},
                        selling_plan_allocations: [
                            {% for plan in item.first_available_variant.selling_plan_allocations %}
                                {
                                    id: {{ plan.selling_plan.id | json }},
                                    price: {{ plan.price_adjustments[0].price }},
                                    name: {{ plan.selling_plan.name | json }},
                                },
                            {% endfor %}
                        ],
                        url: "{{ item.url }}",
                        image: "{{ item.featured_image | img_url: '200x' }}",
                    }
                {% endcapture %}

                <div class="bundle-item flex gap-2 pt-2" 
                    x-init='$nextTick(() => {
                        bundlePrices[{{ forloop.index0 }}] = {{ item.price }};
                        bundleItems[{{ forloop.index0 }}] = {{ itemData }};
                    })'
                    x-data='{
                        setData(value){
                            this.item = JSON.parse(JSON.stringify(value));
                            this.bundleItems[{{ forloop.index0 }}] = this.item;
                            
                            let subscription_price = this.bundleItems.reduce((a, b) => a + (b.selling_plan_allocations[0] ? b.selling_plan_allocations[0].price : b.price), 0);
                            let onetime_price = this.bundleItems.reduce((a, b) => a + b.price, 0);
                            
                            if(subscribe){
                                {% if dynamic_price %}
                                    $dispatch("bundle-price-update", { id: {{ product.id }}, new_price: subscription_price, new_orignal_price: this.original_price, first_load: false });
                                {% endif %}
                            }else{
                                {% if dynamic_price %}
                                    $dispatch("bundle-price-update", { id: {{ product.id }}, new_price: onetime_price, new_orignal_price: this.original_price, first_load: true});
                                {% endif %}
                            }

                            if(fixed_bundle_discount > 0){
                                subscription_price = subscription_price - fixed_bundle_discount;
                                onetime_price = onetime_price - fixed_bundle_discount;
                            }

                            {% if dynamic_price %}
                                $dispatch("set-subscription-price", { id: {{ product.id }}, new_price: subscription_price, new_orignal_price: this.original_price, first_load: false, subscribe: subscribe });
                                $dispatch("set-onetime-price", { id: {{ product.id }}, new_price: onetime_price, new_orignal_price: this.original_price, first_load: false, subscribe: subscribe });
                            {% endif %}
                        },
                        item: {{ itemData }}
                    }'>

                    <div class="w-full">
                        <input type="hidden" name="id" data-productid="{{ product.id }}" :data-plan-id="(subscribe) ? item?.selling_plan_allocations[selected_delivery]?.id: 0" class="bundle-items" :value="item.variant_id">
                        <div class="item__product-type text-sm">
                        {{ categoryTitle }}
                    </div>
                    
                        <span class="bundle-item__title font-semibold leading-[1.2]" x-text="item.title"> 
                            {{ item.title }} 
                        </span>

                        {% if item.metafields.custom.product_group.value.products %}
                            <div class="mt-1 w-full py-1 flex flex-wrap gap-3">
                                {% for variation in item.metafields.custom.product_group.value.products.value %}
                                    {% if variation.available %}
                                        <button 
                                            type="button"
                                            class="border"
                                            :class="{
                                                'border-black': item.id == {{ variation.id }},
                                            }"
                                            {% if forloop.first %}
                                            x-init='$nextTick(() => {   
                                                setData({
                                                    "id": {{ variation.id }},
                                                    "title": {{ variation.title |  json }},
                                                    "variant_id": {{ variation.first_available_variant.id }},
                                                    "price": {{ variation.first_available_variant.price }},
                                                    "selling_plan_allocations": [
                                                        {% for plan in variation.first_available_variant.selling_plan_allocations %}
                                                            {
                                                                "id": {{ plan.selling_plan.id  }},
                                                                "price": {{ plan.price_adjustments[0].price  }},
                                                                "name": {{ plan.selling_plan.name | json }}
                                                            }{% unless forloop.last %},{% endunless %}
                                                        {% endfor %}
                                                    ],
                                                    "url": "{{ variation.url }}",
                                                    "image": "{{ variation.featured_image | img_url: '200x' }}"
                                                }, {{ category_index }});
                                            })'
                                            {% endif %}
                                            @click='setData({
                                                "id": {{ variation.id }},
                                                "title": {{ variation.title |  json }},
                                                "variant_id": {{ variation.first_available_variant.id }},
                                                "price": {{ variation.first_available_variant.price }},
                                                "selling_plan_allocations": [
                                                    {% for plan in variation.first_available_variant.selling_plan_allocations %}
                                                        {
                                                            "id": {{ plan.selling_plan.id  }},
                                                            "price": {{ plan.price_adjustments[0].price  }},
                                                            "name": {{ plan.selling_plan.name | json }}
                                                        }{% unless forloop.last %},{% endunless %}
                                                    {% endfor %}
                                                ],
                                                "url": "{{ variation.url }}",
                                                "image": "{{ variation.featured_image | img_url: '200x' }}"
                                            });' >
                                            <img src="{{ variation.featured_image | img_url: '200x' }}" alt="{{ variation.title }}" class="w-12 h-12" />
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in product.metafields.custom.bundle_items.value %}
            {% if item.available %}
                {% assign bundle_qty = 1 %}
                {% if p_tags contains 'bundle_qty:' %}
                    {% for tag in product.tags %}
                        {% if tag contains "bundle_qty:" %}
                            {% comment %} Split and get second item {% endcomment %}
                            {% comment %} For bundle quantity, tag the bundle with the following structure: bundle_qty:item_id:qty. item_id is the not bundle id, it's product id part of that bundle {% endcomment %}
                            {% assign tag_array = tag | split: ":"  %}
                            {% assign tag_handle = tag_array[1] | plus: 0 %}
                            {% assign tag_qty = tag_array[2] %}
                            {% if item.id == tag_handle %}
                                {% assign bundle_qty = tag_qty %}
                            {% endif %}

                        {% endif %}
                    {% endfor %}

                    {% for i in (1..bundle_qty) %}
                        <input type="hidden" name="id" data-productid="{{ item.id }}" class="bundle-items" value="{{ item.first_available_variant.id }}" />
                    {% endfor %}

                {% else %}
                    <input type="hidden" name="id" data-productid="{{ item.id }}" class="bundle-items" value="{{ item.first_available_variant.id }}" />
                {% endif %}
            {% else %}
                {% assign bundle_in_stock = false %}
            {% endif %}
        {% endfor %}
    {% endif %} 

    {% if bundle_in_stock == false %}
        <div x-init="$nextTick(() => { 
            soldOut = true; 
            setTimeout(() => {
                let klaviyoBis = document.querySelector('.klaviyo-bis-trigger');
                klaviyoBis.classList.add('klaviyo-bis-trigger--bundle');
                klaviyoBis.classList.remove('klaviyo-bis-trigger');
                klaviyoBis.addEventListener('click', () => {   
                    $dispatch('custom-bis-modal:open');
                });
            }, 900);
        });"></div>
    {% endif %}
    
    <input type="hidden" name="bundle_name" value="{{ product.title }}">
    <input type="hidden" class="bundle-handle" value="{{ product.handle }}">
    <input type="hidden" class="bundle-title" value="{{ product.title }}">
{% endif %}