<div class="space-block" style="padding-top: {{ block.settings.padding_top | append: 'px' }}; padding-bottom: {{ block.settings.padding_bottom | append: 'px' }};">
    <hr class="w-full" style="
            height: {{ block.settings.border_width | append: 'px' }};
            background-color: {{ block.settings.border_color }};
            border-color: {{ block.settings.border_color }};">
</div>