<style>
  #MainProduct-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | append: 'px' }};
      padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
  }
</style>
{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}

{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section id="MainProduct-{{ section.id }}" class="{{ section.settings.container }} mx-auto px-4 {% unless section.settings.show_arrows_mobile %} mobile-px-0 {% endunless %}" data-section="{{ section.id }}">
  {% if section.settings.enable_breadcrumbs %}
      {% render 'breadcrumbs', class: "mt-4" %}
  {% endif %}

  <div class="main-product lg:flex lg:mt-4 {% if section.settings.media_right %} justify-between lg:flex-row-reverse {% endif %}">
    
    <div class="product__media-wrapper lg:w-8/12 relative {% if section.settings.sticky_gallery %} lg:sticky top-4 self-start {% endif %} ">
      {% comment %} To fix CLS, we add featured imaged as placeholder to keep the space filled {% endcomment %}
      {% unless section.settings.smaller_gallery_on_mobile %}
      {% render 'img-medium', image: product.featured_image, class: 'opacity-0 w-full' %}
      {% endunless %}
      <div 
        x-title="ProductGallery" 
        class="flex gap-4 {% unless section.settings.smaller_gallery_on_mobile %} absolute top-0 {% endunless %}"
        x-init="$nextTick(() => {
          setTimeout(() => {
            mainSliderInit();
          }, 200);
        
          $watch('thumbHeight', (value) => {
            $refs.product_thumb.style.height = value + 'px';
            // mobile
            if(window.innerWidth < 768){
              $refs.ProductGallery.parentElement.parentElement.style.minHeight = value + 'px';
            }
            thumbSliderInit();
          });
          
        })"
        @resize.window.debounce="thumbSliderInit();"
        x-data="{
          thumbHeight: 400,
          thumbSliderInit(){
              let product_thumb = new KeenSlider(this.$refs.product_thumb, {
                vertical: true,
                loop: true,
                slides: {
                  perView: 10,
                  spacing: 16
                },
                created: () => {
                  $refs.product_thumb.classList.remove('gap-4');
                }
              },[UnickThumbnailPlugin(ProductGallery)]);

          },

          mainSliderInit(){
            // Product Gallery
            let ProductGallery = new KeenSlider(this.$refs.ProductGallery, {
              loop: true,
              {% if section.settings.smaller_gallery_on_mobile %}
              slides: {
                perView: 1.15,
                spacing: 8
              },
              breakpoints: {
                '(min-width: 760px)': {
                  slides:{
                    perView: 1,
                    spacing: 0
                  }
                },
              },
              {% endif %}
              created: () => {
                document.querySelectorAll('.product-single__media').forEach((el) => {
                  el.classList.remove('opacity-0');
                })
              },
            }, [UnickNavigationPlugin]);

            window.ProductGallery = ProductGallery;
            let observer = new ResizeObserver((entries) => {
              entries.forEach( (entry) => {
                  this.thumbHeight = entry.contentRect.height;
              });
            });
            observer.observe(this.$refs.ProductGallery.querySelector('img'));

          }
        }">
        <div class="product-media-thumb w-1/12 hidden lg:block overflow-hidden">
            <div class="keen-slider flex flex-wrap flex-col overflow-hidden md:h-[480px] lg:h-[690px] gap-4" x-ref="product_thumb">
              {% for media in product.media %}
                {% assign media_index = forloop.index %}
                  <button class="keen-slider__slide relative h-[70px] w-full" type="button" 
                    aria-label="{%- if media.media_type == 'image' -%} {{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}">
                    {% render 'img-small', image: media, class: ' object-cover w-full h-full' %}
                    {% if media.media_type == 'video' or media.media_type == 'external_video' %}
                      <span class="absolute inset-0 text-white flex justify-center items-center">
                        {% render 'icon-play-circle', class: 'w-8 h-8' %}
                      </span>
                    {% endif %}
                  </button>
              {% endfor %}

              <button 
                class="keen-slider__arrow absolute bg-white border w-full
                {% if product.media.size <= 7  %}
                  !hidden
                {% elsif product.media.size == 8  %}
                  bottom-16
                {% elsif product.media.size > 8  %}
                  bottom-0
                {% endif %}"
                @click="ProductGallery.next()"
                type="button">
                {% render 'icon-chevron-down', class: 'w-6 h-6 mx-auto' %}
              </button>
              
            </div>
        </div>

        <div class="w-full lg:w-11/12 overflow-hidden min-h-[315px] relative">
          <div class="keen-slider flex overflow-hidden" x-ref="ProductGallery">
            {% for media in product.media %}
              <div 
                {% if forloop.index == 2 and section.settings.smaller_gallery_on_mobile %}
                  style="transform: translate3d(8px, 0px, 0px)"
                {% endif %}
                class="keen-slider__slide flex-shrink-0 {% if section.settings.smaller_gallery_on_mobile %} relative !w-[86.6%] md:!w-full  {% else %}  !min-h-full !max-h-full  !min-w-full !max-w-full {% endif %}">
                {% assign media_class = ' object-cover ' %}
                {% assign media_class = media_class | append: section.settings.media_ratio %}

                {% render 'product-media', 
                  media: media, 
                  index: forloop.index0,
                  media_class: media_class, 
                  media_loop: section.settings.enable_video_looping, 
                  media_autoplay: section.settings.enable_video_autoplay %}

                  {% if forloop.first %}
                    {% render 'product-flags', product_item: product, class: '' %}
                  {% endif %}

              </div>
            {% endfor %}
           
            {% if product.media.size == 0 %}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>

      </div>
    </div>

    <div class="product__info-wrapper pt-4 lg:pl-4 lg:pt-0 mb-4 lg:w-4/12 {% if section.settings.enable_sticky_info %} sticky top-8 {% endif %} {%   unless section.settings.show_arrows_mobile %} mobile-px-4 {% endunless %} {{ section.settings.content_alignment }}">
      <div id="ProductInfo-{{ section.id }}" class="product__info space-y-3">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {% assign show_quantity_packs = true %}
        {% assign quantity_packs = section.blocks | where: 'type', 'quantity_pack' %}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}

          {%- when 'quantity_pack' -%}

            {% if show_quantity_packs %}
              {% assign blockCurrency = block.settings.currency %}
              {% if blockCurrency == 'all' or  cart.currency.iso_code ==  blockCurrency %}
                {% render 'quantity-pack', blocks: quantity_packs, product: product %}
              {% endif %}
            {% endif %}

            {% assign show_quantity_packs = false %}

          {%- when 'upsell' -%}
            {% render "product-upsell", product: product, block: block %}

          {%- when 'volume_discount_links' -%}
            {% render "product-volume-discount-links", product: product, block: block %}
          
          {%- when 'volume_discount_blocks' -%}
            {% render "product-volume-discount-blocks", product: product, block: block %}

          {%- when 'bundle_together' -%}
            {% render "bundle-together", product: product, block: block %}

          {%- when 'swatches' -%}
            {% include '_swatch', product: product, block: block %}
            
          {%- when 'text' -%}
            {% render 'text', block: block %}
          {%- when 'title' -%}

              <nav class="breadcrumbs text-[0.65rem] md:text-sm mb-2 mt-3 md:mt-0" role="navigation" aria-label="breadcrumbs">
                <ol class="flex items-center justify-center lg:justify-start">
                    <li> 
                      <a href="{{ shop.url }}" class="text-[#646464] underline" title="{{ 'general.breadcrumbs.home' | t }}">
                        {{ 'general.breadcrumbs.home' | t }}
                      </a>
                    </li>

                    {%- if collection.url -%}
                      <li class="leading-normal collection-bar"><span class="mx-1 md:mx-2 text-[#646464]">/</span></li>
                      <li class="text-[#646464] underline">
                        <a href="{{ collection.url }}">
                          {{ collection.title | link_to: collection.url }}
                        </a>
                      </li>
                    {%- endif -%}
                    
                    {% unless collection.url %}
                      <li class="leading-normal product-bar"><span class="mx-1 md:mx-2 text-[#646464]">/</span></li>
                      <li class="text-[#646464]">
                        {{ product.title | split: '-' | first }}
                      </li>
                    {% endunless %}
                    
                </ol>
              </nav>

              <div class="flex gap-2 justify-between items-center">
                <h1 class="font-heading text-2xl text-center lg:text-left lg:text-3xl font-bold w-full">
                  {{ product.title | escape }}
                </h1> 
              </div>
          {%- when 'price' -%}
            <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, is_pdp: true, show_badges: true, price_class: 'text-xl justify-center lg:justify-between font-semibold' -%}
            </div>

            {% if block.settings.show_afterpay %}
              {% comment %} Moved to below add to cart {% endcomment %}
              {% comment %} <div class="min-h-[26px] hidden">
                <div id="product-price-selector"></div>
              </div> {% endcomment %}
            {% endif %}
            {% comment %}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__tax caption rte">
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
              {%- endif -%}

              <div {{ block.shopify_attributes }}>
                {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>

            {% endcomment %}
          {%- when 'description' -%}
            <div class="product__excerpt rte text-base font-medium prose text-black">
                {% if product.excerpt %}
                  {{ product.excerpt | strip_html | truncate: 180, '' }}
                {% else %}
                  {% if product.metafields.custom.product_description != blank %}
                    {{ product.metafields.custom.product_description | metafield_tag }}
                  {% else %}
                    {{ product.description | split: "[Why you'll love this]"| first }}
                  {% endif %}
                {% endif %}
            </div>

          {%- when 'rating' -%}
            <a class="inline-block text-center lg:text-left w-full" href="#shopify-block-okendo_reviews_widget_cG3WKq" aria-label="{{ 'products.product.reviews.title' | t }}">
              {% render '_product-review-stars', product: product, block: block, class: '' %}
            </a>

          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}

            {% if block.settings.title != blank and block.settings.description != blank or block.settings.custom_liquid != blank or block.settings.page != blank %}

              {% assign hide_ingredients = false %}
              {% assign is_ingredient = false %}
               
              {% if block.settings.title contains 'Ingredients' or block.settings.title contains 'Ingredientes' or block.settings.title contains 'Ingrédients' or block.settings.title contains 'Inhaltsstoffe' or block.settings.title contains '재료' or block.settings.title contains '原材料' or block.settings.title contains 'Ingredienti' or block.settings.title contains 'Zutaten' %}
                {% assign is_ingredient = true %}
                {% assign hide_ingredients = true %}
              {% endif %}
              
              {% if product.metafields.custom.ingredient_lists != blank or product.metafields.desc.ingredients != blank %}
                {% assign hide_ingredients = false %}
              {% endif %}

             
              <div x-cloak x-data="{ 
                    expanded: {%- if block.settings.open_by_default -%} true {%- else -%} false {%- endif -%},
                  }
                  "
                  class="accordion-item !mt-0  {% if hide_ingredients and is_ingredient %} hidden {% endif %}"
                  role="region">
                
                <button @click="expanded = !expanded" 
                      :aria-expanded="expanded"
                      type="button"
                      aria-label="{{ block.settings.title | default: 'Accordion title' }}"
                      class="flex items-center w-full justify-between font-bold text-lg py-3.5 border-t border-black">
                      <span> {{ block.settings.title | default: 'Accordion title' }} </span>
                      <span class="duration-300 mr-3">
                        <template x-if="!expanded">
                          {% render 'icon-plus', class: 'w-4 text-sm' %}
                        </template>
                        <template x-if="expanded">
                          {% render 'icon-minus', class: 'w-4 text-sm' %}
                        </template>
                      </span>
                </button>
              
                <div x-show="expanded" x-collapse.duration.300ms>
                    <div class="py-2 text-base prose">
                      {% if block.settings.description %}
                        {{ block.settings.description }}
                      {% endif %}
  
                      {% if block.settings.page != blank %}
                        {{ block.settings.page.content }}
                      {% endif %}
  
                      {% if block.settings.custom_liquid != blank %}
                        <div>
                          {{ block.settings.custom_liquid }}
                        </div>
                      {% endif %}

                      {% if is_ingredient and product.metafields.custom.ingredient_lists == blank and product.metafields.desc.ingredients != blank %}
                        {{ product.metafields.desc.ingredients | metafield_tag }}
                      {% endif %}

                    </div>
                </div>
              
              </div>
            {% endif %}

          {%- when 'spacer' -%}
            {% render 'spacer-block' block: block %}

          {%- when 'quantity_selector' -%}
            <div class="grid md:grid-cols-2 gap-3">
              <div class="product-form__quantity" {{ block.shopify_attributes }} x-title="quantitySelector" x-data="{ qty: 1 }">
                <label class="form__label pb-2 block font-semibold" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>

                {% if block.settings.quantity_selector_style == 'input' %}
                  <div class="quantity inline-flex items-center border border-gray-600 rounded-md w-full max-w-[8rem]">
                    <button class="quantity__button px-3 no-js-hidden" @click="(qty == 1) ? qty : qty--" name="minus" type="button">
                      <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-minus', class: 'w-4' %}
                    </button>
                    <input class="border-transparent w-full text-center appearance-none" type="number" x-model="qty" name="quantity" id="Quantity-{{ section.id }}" min="1" value="1" form="{{ product_form_id }}">
                    <button class="quantity__button px-3 no-js-hidden" @click="qty++" name="plus" type="button">
                      <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-plus', class: 'w-4' %}
                    </button>
                  </div>
                {% else %}
                  <select class="form__select" x-model="qty" name="quantity" id="Quantity-{{ section.id }}" form="{{ product_form_id }}">
                    {% for index in (0..10) %}
                      <option value="{{ index }}">{{ index }}</option>
                    {% endfor %}
                  </select>
                {% endif %}

              </div>
            </div>
          {%- when 'share' -%}
            <div class="product-sharing">
              {% render 'share', block: block, data: product.url %}
            </div>
            
          {%- when 'color_variants' -%}
              {% if block.settings.products != blank %}
                {% render 'color-variants', block: block, product: product %}
              {% endif %}

          {%- when 'image_block' -%}
            <div class="image-block">
              {% if block.settings.title != blank %}
                <div class="text-sm mb-2">
                  {{ block.settings.title }}
                </div>
              {% endif %}
              {% if block.settings.image != blank %}
                <div class="img-wrapper" style="width: {{ block.settings.img_width |  append: 'px' }};">
                  {% render 'img-medium', image: block.settings.image, class: 'w-full' %}
                </div>
              {% endif %}
            </div>

          {%- when 'info_block' -%}

            {% if block.settings.remove_link_underline %}
              <style>
                .info-block-{{ block.id }} a {
                  text-decoration: none;
                }
              </style>
            {% endif %}

            {% assign excluded_list = block.settings.exclude_countries | downcase | split: ',' | strip  %}
            {% assign included_list = block.settings.include_countries | downcase | split: ',' | strip  %}
            {% assign user_country = localization.country.name | downcase %}

            {% if block.settings.exclude_countries != blank and excluded_list contains user_country %}
              {% comment %} {# Do nothing if user_country is in the excluded list #} {% endcomment %}
            {% elsif block.settings.include_countries == blank or included_list contains user_country %}
              {% render "_info-block", block: block %}
            {% endif %}
            
          {%- when 'variant_picker' -%}
            
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'radio-buttons' -%}
                <div {{ block.shopify_attributes }} 
                    x-data="variantsSelector({{ product.variants | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})"
                    x-init="$nextTick(() => {
                      {%- for variant in product.variants -%}
                        variants.forEach((variant) => {
                          if (variant.id == {{ variant.id }}) {
                            variant.inventory_quantity = {{ variant.inventory_quantity }};
                          }
                          if(variant.id == {{ product.selected_or_first_available_variant.id }}) {
                            selectedVariant.inventory_quantity = {{ product.selected_or_first_available_variant.inventory_quantity }};
                          }
                        });
                      {%- endfor -%}
                    })"
                    @variant-changed.window="$nextTick(() => {
                      selectOptions[$event.detail?.position] = $event.detail?.event?.target.value
                      let getVariant = Unick.findVariant(variants , selectOptions); 
                      selectedVariant = (getVariant) ? getVariant : null;
                    })"
                  class="space-y-3 radio-variant__buttons">
                  {%- for option in product.options_with_values -%}
                      {% assign loopIndex = forloop.index0 %}
                      {% assign option_name = option.name | downcase %}

                      <fieldset class="js product-form__input {% if block.settings.hide_color and option_name == 'color' %} hidden {% endif %}">
                        <legend class="form__label pb-2 font-semibold flex justify-between w-full">
                          <div>
                            {{ option.name }}: 
                            <span class="font-medium" x-text="selectedVariant['option{{ forloop.index }}']"></span>
                            <span class="font-normal ml-1" x-show="selectedVariant.available && selectedVariant.inventory_quantity <= 3 && selectedVariant.inventory_quantity != 0" x-text="'[only ' + selectedVariant.inventory_quantity + ' left]'"></span>
                          </div>

                        </legend>
                        {% if option_name == 'color' or option_name == 'colors' or option_name == 'colour' or option_name == 'colours' %}
                          {% if block.settings.color_swatch_style == 'color-swatch' %}
                            <div class="radio-swatch flex flex-wrap gap-3 items-center">
                              {%- for value in option.values -%}
                                <input type="radio" aria-label="{{ value }}" class="sr-only" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                      @change="$dispatch('variant-changed', { position: {{ loopIndex }}, event: $event });"
                                      name="{{ option.name }}" value="{{ value | escape }}" form="{{ product_form_id }}"
                                      {% if option.selected_value == value %}checked{% endif %}>
                                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
                                    class="border-2 border-transparent cursor-pointer w-8 h-8 rounded-full overflow-hidden text-[0px]" 
                                    style="background-color: {{ value }};">
                                    {{ value }}
                                  </label>
                              {%- endfor -%}
                            </div>
                          {% endif %}

                          {% if block.settings.color_swatch_style == 'basic' %}
                            <div class="basic-color-swatch grid grid-cols-4 gap-3 items-center text-center">
                              {%- for value in option.values -%}
                                <input type="radio" aria-label="{{ value }}" class="sr-only" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                      @change="$dispatch('variant-changed', { position: {{ loopIndex }}, event: $event });"
                                      name="{{ option.name }}" value="{{ value | escape }}" form="{{ product_form_id }}"
                                      {% if option.selected_value == value %}checked{% endif %}>
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
                                  class="px-4 py-2 border rounded-md cursor-pointer text-sm">
                                  {{ value }}
                                </label>
                              {%- endfor -%}
                            </div>
                          {% endif %}
                        {% else %}
                          <div class="normal-swatch grid grid-cols-4 gap-2 items-center text-center">
                            {%- for value in option.values -%}
                              <input type="radio" 
                                    aria-label="{{ value }}" 
                                    class="sr-only" 
                                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                    @change="$dispatch('variant-changed', { position: {{ loopIndex }}, event: $event });"
                                    name="{{ option.name }}" value="{{ value | escape }}" 
                                    form="{{ product_form_id }}"
                                    :checked="selectOptions[0] == '{{ value }}'">

                              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
                                :class="{'opacity-60': !isAvailable('{{ value | escape }}', {{ loopIndex }}) }"
                                class="px-4 py-3 h-[var(--button-height)] border rounded cursor-pointer text-sm flex items-center justify-center gap-2">
                                {{ value }} 
                                <span x-show='!isAvailable("{{ value | escape }}", {{ loopIndex }})'>
                                  {% render "icon-bell", class: 'w-4' %}
                                </span>
                              </label>
                            {%- endfor -%}
                          </div>
                        {% endif %}

                      </fieldset>
                  {%- endfor -%}
                </div>
              {%- endif -%}

              {%- if block.settings.picker_type == 'dropdown' -%}
                <div  x-data="variantsSelector({{ product.variants | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})"
                    @variant-changed.window="$nextTick(() => {
                      let getVariant = Unick.findVariant(variants , selectOptions); 
                      selectedVariant = (getVariant) ? getVariant : null;
                    })" 
                    class="no-js-hidden {% if product.variants.size == 1 %} hidden {% endif %}" 
                    data-section="{{ section.id }}" 
                    data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                    <div class="grid md:grid-cols-2 gap-3 mt-3 mb-2 ">
                      {%- for option in product.options_with_values -%}
                          {% assign option_size = option.values | size %}
                          {% if option_size > 1 %}
                            {% assign name = option.name %}
                            {% assign loopIndex = forloop.index0 %}
                            
                            <div class="relative w-full">
                                <template  x-if='selectedVariant'>
                                    <input type="hidden" name="id" x-bind:value="selectedVariant.id">
                                </template>
                                <label for="{{ name | downcase }}" class="form__label font-medium mb-2 block">{{ name }}</label>
                                <select 
                                    x-model="selectOptions[{{ loopIndex }}]"
                                    @change="selectOptions[{{ loopIndex }}] = $event.target.selectedOptions[0].value; 
                                    $dispatch('variant-changed', { position: {{ loopIndex }}, event: $event });"
                                    name="{{ name | downcase }}"
                                    form="{{ product_form_id }}"
                                    class="form__select w-full">
                                    {% for optionItem in option.values %}
                                            <option value="{{ optionItem }}">
                                                {{ optionItem | capitalize }}
                                            </option>
                                    {% endfor %}
                                </select>
                              
                            </div>

                          {% endif %}

                      {%- endfor -%}
                    </div>
                </div>
              {%- endif -%}
            {%- endunless -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>

          {%- when 'buy_buttons' -%}
            
            {% render 'add-to-cart'
              product: product,
              show_qty: block.settings.show_qty,
              show_dynamic_checkout: block.settings.show_dynamic_checkout,
              product_form_id: product_form_id,
              shopify_attributes: block.shopify_attributes,
              show_subscription: true,
              show_bundle_items: block.settings.show_bundle_items,
              dynamic_price: block.settings.dynamic_price,
              fixed_bundle_discount: block.settings.fixed_bundle_discount,
              extra_products: block.settings.extra_products
            %}
            {% comment %} Free shipping and money back guarantee {% endcomment %}
            <div class="shipping-and-return-info flex gap-x-6 justify-center items-center">
              {% if block.settings.shipping_text != blank %}
                <div class="flex gap-x-2 items-center">
                  <img class="h-8" src="https://cdn.shopify.com/s/files/1/0104/6904/8384/files/fast.png" alt="Free shipping">
                  <span class="uppercase font-medium text-sm">
                    {{ block.settings.shipping_text }}
                  </span>
                </div>
              {% endif %}

              {% if block.settings.return_text != blank %}
                <div class="flex gap-x-2 items-center">
                  <img class="h-8" src="https://cdn.shopify.com/s/files/1/0104/6904/8384/files/clock_2.png?v=1678241233" alt="Money back guarantee">
                  <span class="uppercase font-medium text-sm">
                    {{ block.settings.return_text }}
                  </span>
                </div>
              {% endif %}
            </div>

          {%- endcase -%}
        {%- endfor -%}

      </div>
    </div>

  </div>

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

</section>

{% render 'klaviyo-back-in-stock', product: product %}
{% render 'klaviyo-custom-bis', product: product %}
{% render 'sticky-add-to-cart', product: product %}

<!-- Klaviyo event -->
<script type="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  var newItem = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price | strip_html | money | json  }},
    CompareAtPrice: {{ product.compare_at_price_max | strip_html | money | json }}
  };

  _learnq.push(['track', 'Viewed Product', newItem]);
  _learnq.push(['trackViewedItem', {
    Title: newItem.Name,
    ItemId: newItem.ProductID,
    Categories: newItem.Categories,
    ImageUrl: newItem.ImageURL,
    Url: newItem.URL,
    Metadata: {
      Brand: newItem.Brand,
      Price: newItem.Price,
      CompareAtPrice: newItem.CompareAtPrice
    }
  }]);

  setTimeout(() => {
    
    const AddToCartButton = document.querySelectorAll('.button-add-to-cart');
    AddToCartButton.forEach(function(currentBtn){
      currentBtn.addEventListener('click', function(){
        //  _learnq.push(['track', 'Added to Cart', item]);
        console.log('newItem: ', newItem);
          _learnq.push(['track', 'Added to Cart', newItem]);
      })
    })

    // Twitter add to cart event
    AddToCartButton.forEach(function(currentBtn){
      currentBtn.addEventListener('click', function(){
        // Insert Twitter Event ID
        twq('event', 'tw-odgrs-odsd4', {
          value: {{ product.price | money_without_currency | json }} , // use this to pass the value of the conversion (e.g. 5.00)
          currency: {{ cart.currency.iso_code | json }}, // use this to pass the currency of the conversion with an ISO 4217 code (e.g. ‘USD’)
          contents: [ 
              {
                content_type: {{ product.type | json }},
                content_id: {{ product.id | json }},
                content_name: {{ product.title | json }},
                content_price: {{ product.price |  money_without_currency | json }}
              }], 
          {%if customer %}
            email_address: {{ customer.email | json }} // use this to pass a user’s email address
          {% endif %}
        });
      })
    })

  }, 1000);



</script>

<style>
  .product__info-wrapper .oke-sr{
    padding-top: 0 !important;
  }
</style>

<!-- Enavi Quick Shop test reviews anchor event -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    if (window.location.search === '?anchor=reviews') {
      // Convert tracking for review click
      window._conv_q = window._conv_q || [];
      _conv_q.push(["triggerConversion", "100488977"]);
      // Wait for Okendo widget to load
      setTimeout(() => {
        const reviewWidget = document.querySelector('.shopify-app-block [data-oke-reviews-product-id]');
        if (reviewWidget) {
          reviewWidget.scrollIntoView({ behavior: 'smooth' });
        }
      }, 1000);
    }
  });
</script>

{% schema %}
{
  "name": "Product information",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "page-width",
          "label": "Page Width"
        },
        {
          "value": "large-width",
          "label": "Large Width"
        },
        {
          "value": "medium-width",
          "label": "Medium Width"
        },
        {
          "value": "small-width",
          "label": "Small Width"
        }
      ],
      "default": "page-width",
      "label": "Container"
    },
    {
      "type": "checkbox",
      "id": "enable_breadcrumbs",
      "default": true,
      "label": "Enable breadcrumbs"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "Enable sticky content on desktop"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment",
      "default": "self-start",
      "options": [
        {
          "value": "self-start",
          "label": "Top"
        },
        {
          "value": "self-center",
          "label": "Center"
        },
        {
          "value": "self-end",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types.](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "sticky_gallery",
      "label": "Sticky gallery",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "smaller_gallery_on_mobile",
      "label": "Smaller gallery on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "media_ratio",
      "options": [
        {
          "value": "aspect-auto w-full",
          "label": "Auto"
        },
        {
          "value": "aspect-auto h-full w-full object-cover",
          "label": "Auto cover"
        },
        {
          "value": "aspect-square object-cover",
          "label": "Square"
        },
        {
          "value": "aspect-portrait object-cover",
          "label": "Portrait"
        }
      ],
      "default": "aspect-auto w-full",
      "label": "Media ratio",
      "info": "Adjust the ratio of the media to the gallery size."
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "Enable video looping"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "media_right",
      "label": "Media on right (desktop)",
      "default": false
    },
    {
      "type": "header",
      "content": "Media mobile"
    },
    {
      "type": "checkbox",
      "id": "show_arrows_mobile",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails_mobile",
      "label": "Show thumbnails",
      "default": false
    },
    {
      "type": "header",
      "content": "Section styles"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "unit": "px",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "unit": "px",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "volume_discount_blocks",
      "name": "Volume discount blocks",
      "settings": [
          {
            "type": "number",
            "id": "most_popular_position",
            "label": "Most popular position",
            "default": 1
          },
          {
            "type": "header",
            "content": "Volume discount blocks"
          },
          {
            "type": "product",
            "id": "product1",
            "label": "Product 1"
          },
          {
            "type": "text",
            "id": "product1_label",
            "label": "Product 1 label"
          },
          {
            "type": "text",
            "id": "product1_price",
            "label": "Product 1 price"
          },
          {
            "type": "text",
            "id": "product1_price_strikethrough",
            "label": "Product 1 price strikethrough"
          },
          {
            "type": "product",
            "id": "product2",
            "label": "Product 2"
          },
          {
            "type": "text",
            "id": "product2_label",
            "label": "Product 2 label"
          },
          {
            "type": "text",
            "id": "product2_price",
            "label": "Product 2 price"
          },
          {
            "type": "text",
            "id": "product2_price_strikethrough",
            "label": "Product 2 price strikethrough"
          },
          {
            "type": "product",
            "id": "product3",
            "label": "Product 3"
          },
          {
            "type": "text",
            "id": "product3_label",
            "label": "Product 3 label"
          },
          {
            "type": "text",
            "id": "product3_price",
            "label": "Product 3 price"
          },
          {
            "type": "text",
            "id": "product3_price_strikethrough",
            "label": "Product 3 price strikethrough"
          },
          {
            "type": "product",
            "id": "product4",
            "label": "Product 4"
          },
          {
            "type": "text",
            "id": "product4_label",
            "label": "Product 4 label"
          },
          {
            "type": "text",
            "id": "product4_price",
            "label": "Product 4 price"
          },
          {
            "type": "text",
            "id": "product4_price_strikethrough",
            "label": "Product 4 price strikethrough"
          },
          {
            "type": "product",
            "id": "product5",
            "label": "Product 5"
          },
          {
            "type": "text",
            "id": "product5_label",
            "label": "Product 5 label"
          },
          {
            "type": "text",
            "id": "product5_price",
            "label": "Product 5 price"
          },
          {
            "type": "text",
            "id": "product5_price_strikethrough",
            "label": "Product 5 price strikethrough"
          }
      ]
    },
    {
      "type": "volume_discount_links",
      "name": "Volume discount links",
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "header",
            "content": "Volume discount links"
          },
          {
            "type": "product",
            "id": "product1",
            "label": "Product 1"
          },
          {
            "type": "text",
            "id": "product1_label",
            "label": "Product 1 label"
          },
          {
            "type": "text",
            "id": "product1_flag",
            "label": "Product 1 flag"
          },
          {
            "type": "product",
            "id": "product2",
            "label": "Product 2"
          },
          {
            "type": "text",
            "id": "product2_label",
            "label": "Product 2 label"
          },
          {
            "type": "text",
            "id": "product2_flag",
            "label": "Product 2 flag"
          },
          {
            "type": "product",
            "id": "product3",
            "label": "Product 3"
          },
          {
            "type": "text",
            "id": "product3_label",
            "label": "Product 3 label"
          },
          {
            "type": "text",
            "id": "product3_flag",
            "label": "Product 3 flag"
          },
          {
            "type": "product",
            "id": "product4",
            "label": "Product 4"
          },
          {
            "type": "text",
            "id": "product4_label",
            "label": "Product 4 label"
          },
          {
            "type": "text",
            "id": "product4_flag",
            "label": "Product 4 flag"
          },
          {
            "type": "product",
            "id": "product5",
            "label": "Product 5"
          },
          {
            "type": "text",
            "id": "product5_label",
            "label": "Product 5 label"
          },
          {
            "type": "text",
            "id": "product5_flag",
            "label": "Product 5 flag"
          }
      ]
    },
    {
      "type": "bundle_together",
      "name": "Bundle together",
      "settings": [
          {
              "type": "paragraph",
              "content": "This block is for bundle together. You can add the  bundles from product metafields. If product doesn't have bundle together metafields then this section will not show."
          },
          {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Frequently Bought Together"
          },  
          {
              "type": "richtext",
              "id": "promo_text",
              "label": "Promo text"
          },  
          {
            "type": "color",
            "id": "promo_text_color",
            "label": "Promo text color"
          },
          {
            "type": "product",
            "id": "fixed_bundle",
            "label": "Fixed bundle",
            "info": "If you select fixed bundle, this product will be added to cart if all products are selected"
          },
          {
            "type": "product_list",
            "id": "products",
            "label": "Products",
            "info": "Select products to show, or connect to metafields"
          },
          {
              "type": "text",
              "id": "discount_percentage",
              "label": "Discount percentage",
              "default": "0"
          },     
          {
              "type": "text",
              "id": "button_text",
              "label": "Button text",
              "default": "Add selected to cart"
          },
          {
            "type": "checkbox",
            "id": "visually_hidden",
            "label": "Visually hidden",
            "default": false,
            "info": "This will hide the block but still show the content for SEO or A/B testing"
          }       
      ]
    },
    {
      "type": "upsell",
      "name": "Upsell",
      "limit": 1,
      "settings": [
          {
              "type": "paragraph",
              "content": "This block is for upsell. You can add the upsell products or connect to metafields"
          },
          {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "You may also like"
          },
          {
              "type": "product_list",
              "id": "products",
              "label": "Products",
              "info": "Select products to show"
          },
          {
            "type": "header",
            "content": "Settings"
          },
          {
            "type": "select",
            "id": "desktop_grid",
            "label": "Desktop grid",
            "default": "md:grid-cols-3",
            "options": [
              {
                "value": "md:grid-cols-2",
                "label": "2 columns"
              },
              {
                "value": "md:grid-cols-3",
                "label": "3 columns"
              },
              {
                "value": "md:grid-cols-4",
                "label": "4 columns"
              },
              {
                "value": "md:grid-cols-5",
                "label": "5 columns"
              },
              {
                "value": "md:grid-cols-6",
                "label": "6 columns"
              }
            ]
          },
          {
            "type": "select",
            "id": "mobile_grid",
            "label": "Mobile grid",
            "default": "grid-cols-2",
            "options": [
              {
                "value": "grid-cols-2",
                "label": "2 columns"
              },
              {
                "value": "grid-cols-3",
                "label": "3 columns"
              },
              {
                "value": "grid-cols-4",
                "label": "4 columns"
              },
              {
                "value": "grid-cols-5",
                "label": "5 columns"
              },
              {
                "value": "grid-cols-6",
                "label": "6 columns"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "above_atc",
            "label": "Move above add to cart",
            "default": false,
            "info": "Move this block above add to cart button"
          },     
          {
            "type": "checkbox",
            "id": "visually_hidden",
            "label": "Visually hidden",
            "default": false,
            "info": "This will hide the block but still show the content for SEO or A/B testing"
          },     
          {
            "type": "checkbox",
            "id": "hide_flags",
            "label": "Hide flags",
            "default": true,
            "info": "Hide tag based flags on products cards"
          },
          {
            "type": "checkbox",
            "id": "hide_price",
            "label": "Hide price",
            "default": true,
            "info": "Hide price on products cards"
          },
          {
            "type": "checkbox",
            "id": "cross_out_price",
            "label": "Cross-out pricing",
            "default": false,
            "info": "Cross-out pricing on products cards"
          },
          {
            "type": "text",
            "id": "title_prefix",
            "label": "Title prefix"
          },
          {
            "type": "color",
            "id": "prefix_color",
            "label": "Prefix color"
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Title size",
            "min": 12,
            "max": 36,
            "step": 1,
            "default": 16
          }
      ]
    },
    {
      "type": "quantity_pack",
      "name": "Quantity pack",
      "limit": 5,
      "settings": [
        {
          "type": "range",
          "id": "value",
          "label": "Value",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 1,
          "info": "Set quantity"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "discount",
          "label": "Discount",
          "default": "0"
        },
        {
          "type": "text",
          "id": "price_suffix",
          "label": "Price suffix",
          "default": "ea"
        },
        {
          "type": "select",
          "id": "discount_type",
          "label": "Discount type",
          "default": "fixed",
          "options": [
            {
              "value": "percentage",
              "label": "Percentage"
            },
            {
              "value": "fixed",
              "label": "Fixed"
            }
          ]
        },
        {
          "type": "text",
          "id": "flag",
          "label": "Flag"
        },
        {
          "type": "checkbox",
          "id": "pre_selected",
          "label": "Pre selected",
          "default": false
        },
        {
         "type": "select",
         "id": "currency",
         "label": "Location",
         "info": "You can make this block appear on specific countries only",
         "default": "all",
         "options": [
           {
             "value": "all",
              "label": "All"
           },
           {
             "value": "USD",
              "label": "United States"
           },
           {
             "value": "AUD",
              "label": "Australia"
           },
           {
             "value": "CAD",
              "label": "Canada"
           },
           {
              "value": "GBP",
              "label": "United Kingdom"
           },
           {
             "value": "EUR",
              "label": "Europe"
           },
           {
             "value": "NZD",
              "label": "New Zealand"
           }
         ]
       }
      ]
    },
    {
      "type": "swatches",
      "name": "Swatches",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Swatches:"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "info": "Select products to show, or connect to metafields"
        },
        {
          "type": "select",
          "id": "swatch_style",
          "label": "Swatch style",
          "default": "swatch",
          "options": [
            {
              "value": "swatch",
              "label": "Swatch"
            },
            {
              "value": "classic",
              "label": "Classic"
            }
          ]
        },
        {
          "type": "range",
          "id": "image_position",
          "label": "Image position",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 2,
          "info": "Swatch image position"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "range",
          "id": "border_width",
          "label": "Border width",
          "unit": "px",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "default": 0.5
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color",
          "default": "#3A3A3A"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "unit": "px",
          "min": 1,
          "max": 60,
          "step": 1,
          "default": 30
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "unit": "px",
          "min": 1,
          "max": 60,
          "step": 1,
          "default": 30
        }
      ]
    },
    {
      "type": "color_variants",
      "name": "Color variants",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "info": "Select products to display or connect to metafield"
        }
      ]
    },
    {
      "type": "info_block",
      "name": "Info block",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
          "info": "Optional"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "Icon width",
          "unit": "px",
          "min": 10,
          "max": 200,
          "step": 2,
          "default": 40
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the content on the template.</p>",
          "label": "Description",
          "info": "Available variables: $afterpay, $shipping_country and $shipping_cost, $delivery_time"
        },
        {
          "type": "checkbox",
          "id": "remove_link_underline",
          "default": true,
          "label": "Remove link underline"
        },
        {
          "type": "header",
          "content": "Delivery settings"
        },
        {
          "type": "number",
          "id": "delivery_days_in_future",
          "label": "Delivery days in future",
          "info": "Number of days to add to the current date to calculate the delivery date."
        },
        {
          "type": "checkbox",
          "id": "skip_weekends",
          "label": "Skip weekends",
          "default": true
        },
        {
          "type": "header",
          "content": "Shipping settings",
          "info": "Configure shipping countries and rates."
        },
        {
          "type": "html",
          "id": "shipping_rates",
          "label": "Shipping rates",
          "info": "Comma separated list of country name and rates. Eg: Afghanistan:70, all| $200 for default. $shipping_country and $shipping_cost are available variables in above description"
        },
        {
          "type": "header",
          "content": "Block visibility"
        },
        {
          "type": "html",
          "id": "exclude_countries",
          "label": "Excluded countries",
          "info": "Comma separated list of country names. Eg: Canada, Australia. Leave blank to show for all countries."
        },
        {
          "type": "html",
          "id": "include_countries",
          "label": "Included countries",
          "info": "Comma separated list of country names. Eg: Canada, Australia. Leave blank to show for all countries."
        }

      ]
    },
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "range",
          "id": "img_width",
          "label": "Image width",
          "unit": "px",
          "min": 10,
          "max": 400,
          "step": 5,
          "default": 100
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the content on the template.</p>",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Styles"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font size",
          "unit": "px",
          "min": 8,
          "max": 50,
          "step": 2,
          "default": 16
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "default": "md:text-left",
          "options": [
            {
              "value": "md:text-left",
              "label": "Left"
            },
            {
              "value": "md:text-center",
              "label": "Center"
            },
            {
              "value": "md:text-right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile styles"
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "label": "Font size",
          "unit": "px",
          "min": 8,
          "max": 50,
          "step": 2,
          "default": 16
        },
        {
          "type": "select",
          "id": "text_align_mobile",
          "label": "Text align",
          "default": "text-left",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_afterpay",
          "default": true,
          "label": "Show afterpay"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity Selector",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "quantity_selector_style",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "input",
              "label": "Input"
            }
          ],
          "default": "input",
          "label": "Quantity Selector Style"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant Picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "radio-buttons",
              "label": "Radio buttons"
            }
          ],
          "default": "radio-buttons",
          "label": "Type"
        },
        {
          "type": "select",
          "id": "color_swatch_style",
          "info": "This setting is only available when the variant picker type is set to 'Radio buttons'.",
          "options": [
            {
              "value": "basic",
              "label": "Basic"
            },
            {
              "value": "color-swatch",
              "label": "Color swatch"
            }
          ],
          "default": "basic",
          "label": "Color swatch style"
        },
        {
          "type": "checkbox",
          "id": "hide_color",
          "default": false,
          "label": "Hide color",
          "info": "You can hide the color and use the color variants metafield instead"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_qty",
          "default": true,
          "label": "Show quantity selector"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        {
          "type": "checkbox",
          "id": "show_bundle_items",
          "default": true,
          "label": "Show bundle items"
        },
        {
          "type": "checkbox",
          "id": "dynamic_price",
          "default": false,
          "label": "Dynamic price",
          "info": "Show the price of the selected variant"
        },
        {
          "type": "text",
          "id": "fixed_bundle_discount",
          "label": "Fixed bundle discount",
          "default": "0",
          "info": "Set a fixed discount for the bundle. Mostly used when offering free products"
        },
        {
          "type": "product_list",
          "id": "extra_products",
          "label": "Extra products",
          "info": "Select products to show, or connect to metafields. It will be added to the cart with the main product."
        },
        {
          "type": "header",
          "content": "Trust badges"
        },
        {
          "type": "textarea",
          "id": "shipping_text",
          "default": "SHIPS SAME OR <br> NEXT DAY",
          "label": "Shipping text"
        },
        {
          "type": "textarea",
          "id": "return_text",
          "default": "90 DAY RETURNS",
          "label": "Return text"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "Text",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https://help.shopify.com/manual/online-store/images/showing-social-media-thumbnail-images)"
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image. [Learn more](https://help.shopify.com/manual/promoting-marketing/seo/adding-keywords#set-a-title-and-description-for-your-online-store)"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "id",
          "label": "ID"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible row",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Collapsible row",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Content",
          "info": "Available variables: $shipping_country and $shipping_cost"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Content from page"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "default": false,
          "label": "Open by default"
        }
      ]
    }
  ]
}
{% endschema %}
