<style>
  .customer__password-reset{
    padding-top: {{ settings.padding_top }}px;
    padding-bottom: {{ settings.padding_bottom }}px;
  }
</style>
<div class="customer__password-reset container mx-auto px-4 pt-8">
    <h1 class="text-3xl font-heading text-center">  {{ 'customer.reset_password.title' | t }} </h1>
    <p class="text-center">
      {{ 'customer.reset_password.subtext' | t: email: customer.email }}
    </p>
    <div class="h-full flex items-center justify-center max-w-lg mx-auto">
      {%- form 'reset_customer_password', class: 'my-6 w-full' -%}
        {%- if form.errors -%}
          <h2 class="flex text-base mb-2 items-center" tabindex="-1">
            <span class="sr-only">{{ 'accessibility.error' | t }} </span>
            <span class="w-7 pr-2">
              {% render 'icon-error' %}
            </span>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          <ul class="text-red-500 text-sm my-4">
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
    
        <div class="flex flex-col mb-4">    
          <label for="password" class="form__label mb-2">
            {{ 'customer.reset_password.password' | t }}
          </label>  
          <input
            type="password"
            name="customer[password]"
            id="password"
            class="form__input"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >
        
          {%- if form.errors contains 'password' -%}
            <small id="password-error" class="form__message">
              {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
            </small>
          {%- endif -%}
        </div>
    
        <div class="flex flex-col mb-4">   
          <label for="password_confirmation" class="form__label mb-2">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>

          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            class="form__input"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >
        
          {%- if form.errors contains 'password_confirmation' -%}
            <small id="password_confirmation-error" class="form__message">
              {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
            </small>
          {%- endif -%}
        </div>
    
        <button class="button button--secondary">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      {%- endform -%}
    </div>
</div>

{% schema %}
{
  "name": "Password reset",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "page-width",
          "label": "Page Width"
        },
        {
          "value": "large-width",
          "label": "Large Width"
        },
        {
          "value": "medium-width",
          "label": "Medium Width"
        },
        {
          "value": "small-width",
          "label": "Small Width"
        }
      ],
      "default": "small-width",
      "label": "Container"
    },
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ]
}
{% endschema %}
