
<style>
  #Main-page{
      padding-top: {{ section.settings.padding_top | append: 'px' }};
      padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
  }
</style>
<div id="Main-page" class="main-page {{ section.settings.container }} mx-auto px-4">
  <div class="prose max-w-none">
    <h1 class="main-page-title font-heading !font-medium">
      {{ page.title | escape }}
    </h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "page-width",
          "label": "Page Width"
        },
        {
          "value": "large-width",
          "label": "Large Width"
        },
        {
          "value": "medium-width",
          "label": "Medium Width"
        },
        {
          "value": "small-width",
          "label": "Small Width"
        }
      ],
      "default": "page-width",
      "label": "Container"
    },
    {
      "type": "header",
      "content": "Section styles"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "unit": "px",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "unit": "px",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 32
    }
  ]
}
{% endschema %}
