<style>
  .template-page{
    padding-top: {{ settings.padding_top }}px;
    padding-bottom: {{ settings.padding_bottom }}px;
  }
</style>

<div class="template-page">
  <div class="{{ section.settings.container }} mx-auto px-4 h-full">
    <h2 class="text-2xl md:text-3xl w-full {{ section.settings.text_align_mobile }} {{ section.settings.text_align }} {{ section.settings.font }} {{ section.settings.font_weight }}">
      {%- if section.settings.page.title != blank -%}
        {{ section.settings.page.title | escape }}
      {%- else -%}
        {{ 'sections.page.title' | t }}
      {%- endif -%}
    </h2>
    <div class="rte prose max-w-none">
      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}
        <div class='page-placeholder-wrapper placeholder'>
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "page-width",
          "label": "Page Width"
        },
        {
          "value": "large-width",
          "label": "Large Width"
        },
        {
          "value": "medium-width",
          "label": "Medium Width"
        },
        {
          "value": "small-width",
          "label": "Small Width"
        }
      ],
      "default": "small-width",
      "label": "Container"
    },
    {
      "type": "header",
      "content": "Heading styles"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "default": "md:text-left",
      "options": [
        {
          "value": "md:text-left",
          "label": "Left"
        },
        {
          "value": "md:text-center",
          "label": "Center"
        },
        {
          "value": "md:text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "font",
      "label": "Font family",
      "default": "font-heading",
      "options": [
        {
          "value": "font-primary",
          "label": "Primary"
        },
        {
          "value": "font-secondary",
          "label": "Secondary"
        },
        {
          "value": "font-heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font weight",
      "default": "font-medium",
      "options": [
        {
          "value": "font-bold",
          "label": "Bold"
        },
        {
          "value": "font-semibold",
          "label": "Semibold"
        },
        {
          "value": "font-medium",
          "label": "Medium"
        },
        {
          "value": "font-normal",
          "label": "Normal"
        }
      ]
    },
    {
      "type": "header",
      "content": "Header styles (Mobile)"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Text align",
      "default": "text-left",
      "options": [
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section styles"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Page"
    }
  ],
  "templates": ["page"]
}
{% endschema %}
